<section class="fifth">
  <div class="container">
    <div class="fifth__content">
      <h2 class="fifth__title">История проекта
      </h2>
      <p class="fifth__text">Вопреки заявлению комиссии по ценным бумагам и биржам США, в рыночных манипуляциях нет
        ничего
        сверхъестественного. Когда
        Илон Маск говорит что ему нравится какая-либо акция и в итоге ее стоимость увеличивается в несколько раз - это
        манипуляция рынком. Если биржевые аналитики заявляют что компания недооценена, что также приводит к ее росту —
        это
        в
        порядке вещей.</p>
      <p class="fifth__text">Своими высказываниями, авторитетные личности всегда будут влиять на стоимость ценных бумаг
        и
        вместо того чтобы
        бороться
        с этим, мы создали алгоритм, который систематизирует такие высказывания, превращая их в простой и прибыльный
        торговый
        инструмент.</p>
      <p class="fifth__text">Сначала HypeOff была простым торговым инструментом, который мы применяли для
        заработка
        на фондовом рынке.
        Инструмент оказался крайне прибыльным и мы сочли что неправильно скрывать его от мира.
      </p>
      <p class="fifth__text">В результате была создана платформа HypeOff, где даже далекий от трейдинга и
        инвестиций
        человек сможет
        заработать
        приличные деньги. Это заняло немало времени, но нам удалось автоматизировать процесс анализа/покупки/продажи
        актива.
      </p>
      <p class="fifth__text">К каждому пользователю прикреплен отдельный аккаунт на разных брокерских платформах, через
        который и совершаются
        операции (это если объяснять в двух словах). По сути, всё что необходимо для подключения к проекту — создание
        аккаунта и
        внесение минимальной суммы.
      </p>
    </div>
  </div>
</section>