<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <h2 class="footer__title">Отвечаем на самые
        популярные вопросы:
      </h2>
      <p class="footer__text"><span class="footer__text--part">Нет</span>, мы НЕ брокерская компания.</p>
      <p class="footer__text"><span class="footer__text--part">Да</span>, мы уверены в нашем алгоритме и если что-то
        пойдёт
        не так — мы берём любой убыток на себя.
      </p>
      <img src="../img/footer/footer-img-mob.png" alt="" class="footer__img-mob">
      <p class="footer__text"><span class="footer__text--part">Нет</span>, нас (и Вас) не посадят, всё
        в рамках закона.
      </p>
      <p class="footer__text"><span class="footer__text--part">Нет</span>, Вам не нужно обладать какими-либо знаниями в
        инвестиционной сфере
      </p>
      <button type="button" class="footer__btn scroll-btn">Перейти к регистрации</button>
    </div>

    <img src="../img/footer/footer-img-desk.png" alt="" class="footer__img-desk">
  </div>
</footer>