<section class="fourth">
  <div class="container">
    <img src="../img/fourth/fourth-img-desk.png" alt="кот" class="fourth__img-desk">
    <div class="fourth__content">
      <h2 class="fourth__title">Что в это время делаете вы?</h2>
      <p class="fourth__text">Как вариант - смотрите фильм, спите…
        Да что угодно!
        Система полностью автоматизирована и минимальные вмешательства в работу алгоритма нужны лишь с нашей стороны</p>
    </div>

    <img src="../img/fourth/fourth-img-mob.png" alt="кот" class="fourth__img">
  </div>
</section>