<section class="header">
  <div class="container">

    <div class="header__count">
      <p class="header__count-num">84,438$</p>
      <p class="header__count-text">Выплачено за сегодня:</p>
    </div>

    <img src="../img/header/header-logo-mob.png" alt="логотип хайп оф" class="header__logo">
    <img src="../img/header/header-logo-desk.png" alt="логотип хайп оф" class="header__logo-desk">

    <div class="header__cup">
      <img src="../img/header/header-cup-mob.png" alt="кубок" class="header__cup-img">
      <img src="../img/header/header-cup-desk.png" alt="кубок" class="header__cup-img-desk">
      <p class="header__cup-text">Более 200.000 активных аккаунтов!</p>
    </div>

  </div>
</section>