<section class="second" id="form2">
  <div class="container">

    <div class="second__box">
      <h3 class="second__title">Калькулятор прибыли</h3>
      <div class="calculator__capital">

        <!-- <div class="sum">
              <span>$ </span>
              <span class="sum__num" id="sum_capital">2500</span>
            </div> -->

        <div class="calculator__capital-body">
          <div class="slider">
            <input id="slider_range" class="slider__range" data-slider-id="slider_rangeSlider" type="text"
              data-slider-min="250" data-slider-max="1000" data-slider-step="1" data-slider-value="413" data-value="413"
              value="413" style="display: none;">
            <ul class="slider__point-list">
              <li class="slider__point-item">250$</li>
              <li class="slider__point-item">400$</li>
              <li class="slider__point-item">600$</li>
              <li class="slider__point-item">800$</li>
              <li class="slider__point-item">1000$</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="calculator__income-body">
      <div class="prediction">
        <div class="prediction__label">Ваша прибыль</div>
        <div class="prediction__sum">

          <span class="sum__num" id="sum_res">350</span><span>$</span>
        </div>
      </div>

    </div>




</section>