<section class="third">
  <div class="container">
    <h2 class="third__title">Принцип работы платформы</h2>
    <ul class="third__list">
      <li class="third__list-item">
        <img src="../img/third/third-img-one.png" alt="" class="third__list-item-img">
        <p class="third__list-item-title">Анализ</p>
        <p class="third__list-item-text">Алгоритм ищет характерные всплески биржевого объема, вызванные воздействием
          новости/заявления, сопоставляя их
          с одним
          или несколькими существующими паттернами
        </p>
      </li>
      <li class="third__list-item">
        <img src="../img/third/third-img-two.png" alt="" class="third__list-item-img">
        <p class="third__list-item-title">Сделка</p>
        <p class="third__list-item-text">Далее, алгоритм определяет наилучшее время входа в позицию
          и покупает/продает актив
        </p>
        <button class="third__btn-desk scroll-btn">Перейти к регистрации</button>
      </li>

      <li class="third__list-item">
        <img src="../img/third/third-img-three.png" alt="" class="third__list-item-img">
        <p class="third__list-item-title">Прибыль</p>
        <p class="third__list-item-text">В 93% случаев, всё заканчивается получением прибыли. Даже если сделка не
          удалась, максимальный убыток составит всего
          0.3%, который мы покроем за свой счёт.
        </p>
      </li>
    </ul>
    <button class="third__btn scroll-btn">Перейти к регистрации</button>
  </div>
</section>